/* Overlay noir semi-transparent */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenu du modal */
.modal-content {
  background-color: rgba(73, 82, 67, 0.997);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

/* Animation d’apparition */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Formulaire */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  font-size: 20px;
  color: rgba(225, 144, 82, 0.696);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #c99f70;
  font-size: 16px;
  margin-top: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.modal-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background: #d6b354;
  color: rgb(10, 21, 5);
}

.modal-buttons button:last-child {
  background: #103a1e;
  color: rgba(255, 255, 255, 0.495);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #c99f70;
  font-size: 16px;
  margin-top: 10px;
  box-sizing: border-box;
}
